.vscode
venv
webapp/src/__pycache__
webapp/src/main/migrations/__pycache__
webapp/main/api/__pycache__
webapp/main/__pycache__
webapp/db.sqlite3
webapp/webapp/__pycache__
webapp/main/migrations/__pycache__