.vscode
venv
webapp/src/__pycache__
webapp/src/main/migrations/__pycache__
webapp/src/main/api/__pycache__
webapp/src/main/__pycache__
webapp/src/db.sqlite3
webapp/src/webapp/__pycache__
webapp/src/main/migrations/__pycache__
